.title-warp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    height: 62px;
    background: #fff;

}
.qa-item{
    display: flex;
    margin-bottom: 15px;
    .qa-label{
        width: 70px;
    }
    .qa-value{
        flex: 1;
        display:flex;
        align-items: center;
        margin-left: 15px;
    }
}