.header-content {
    display: flex;
    align-items: center;
    height: 64px;

    .header-logo {
        width: 223px;
        height: 64px;
        background: rgba(0, 40, 77, 1);
    }
.header-right{
    flex: 1;
    height: 64px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
}
    .ant-tabs-bar {
        margin: 0 25px;
    }
}